<div layout="row" layout-align="center start">
  <h1>Noticias</h1>
</div>

<div layout layout-wrap>
 <md-card flex="30" flex-xs="100" ng-repeat="noticia in vm.noticia">
    <img ng-src="{{noticia.imagen}}" class="md-card-image">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{ noticia.titular }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>
        {{ noticia.entrada }}
      </p>
      <p>
        {{ noticia.cuerpo }}
      </p>
    </md-card-content>
    <div layout="row" layout-align="end end">
      <div layout-padding>
        <p>
          Genero: {{ noticia.categoria.descripcion }}
        </p>
      </div>
    	<div layout-padding>
    		<p>Autor: {{noticia.usuario.nombre}}</p>
    	</div>
  	</div>
  </md-card>
</div>
