<div layout-padding>
  <div>
    <div layout="row" flex layout-align="center center">
      <h1>{{vm.titular}}</h1>
    </div>
    <div layout-padding layout-align="center start" layout="row" layout-xs="column" layout-sm="column" layout-align-sm="center center" layout-align-xs="center center" layout-align-md="center center" layout-align-sm="center center">
      <div layout-padding>
        <img ng-src="{{vm.imagen}}"></img>
        <div flex layout="row">
          <md-button style="width:100%">
          </md-button>
        </div>
      </div>
      <div flex>
        <h2>{{vm.entrada}}</h2>
        <p>{{vm.cuerpo}}</p>
        <p>{{vm.fecha}}</p>
      </div>
    </div>
  </div>
</div>